<div [ngStyle]="{background: 'assets/img/' + questionId + '.jpg)'}">
  <div class="flex-parent jc-center">
    <div [innerHtml]="transform(currentQuestion.html)"></div>
  </div>
  <div class="flex-parent jc-center">
    <div [innerHtml]="transform(currentQuestion.text)"></div>
  </div>
  <div class="flex-parent jc-center">

    <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
      <div>
        <input id="answer" type="text" formControlName="answer" alt="answer">
      </div>
      <div class="flex-parent jc-center">

        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <br/>
  <div class="flex-parent jc-center">

    <button class="btn" routerLink="/home">Back</button>
  </div>
</div>
