<p class="test-center title-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Welcome, Hunter !</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" id="username" type="text" formControlName="username">
  </div>
  <div class="mb-4">
    <label class="form-label" for="password">Password</label>
    <input id="password" class="form-control" type="password" formControlName="password">
  </div>
  <button class="btn btn-primary btn-block mb-4" type="submit">Log in</button>
</form>
