<h1>Bienvenue dans la chasse !</h1>
<h2>Connecte-toi pour accéder à ta chasse</h2>
<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">
        Nom d'utilisateur
      </label>
      <input id="username" type="text" formControlName="username">
    </div>

    <div>
      <label for="password">
        Mot de passe
      </label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button class="button" type="submit">Se connecter</button>
  </form>
</div>
