
  <div class="flex-parent jc-center">

    <div *ngIf="isConnected">
      <div class="flex-parent jc-center">

        <h1>Welcome {{username}}</h1>
      </div>

      <div class="flex-parent jc-center">

        <h2>You reached question n°{{questionReached}}</h2>
      </div>

      <div class="flex-parent jc-center">

        <button class="btn" routerLink="../questions/{{questionReached}}">Continue hunting</button>
      </div>
    </div>
    <div *ngIf="!isConnected">
      <app-login></app-login>
    </div>

  </div>
